body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    background-color: #B9D9C3;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.row {
    display: flex;
    justify-content: space-between;
}

.main-wrapper {
    width: 960px;
}

.top-menu {
    display: flex;
    list-style: none;
    height: 100px;
    justify-content: space-between;
    border-bottom: solid 2px #752A07;
}

.top-menu li {
    display: flex;
    align-items: center;
}

.top-menu a {
    font-weight: bold;
    font-size: 22px;
    line-height: 100px;
    text-align: center;
   color:#752A07;
    transition: all 0.5s;
}

.top-menu a:hover {
    color: #FBCB7B;
}

header {
    padding-bottom: 100px;
}

header .row {
    align-items: flex-end;
    padding: 30px 0px;
}

.name {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
}

.position {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.lang a {
    font-size: 18px;
    line-height: 25px;
    color: #752A07;
}

a.active {
    color: #752A07;
    font-weight: bold;
}

.rotate {
    transform: rotate(-90deg);
    transform-origin: right bottom;
    margin-top: -100px;
}

.photo {
    width: 100%;
    height: 415px;
    background: url('../images/header-photo.jpg') no-repeat center;
    background-size: cover;
}

section {
    padding: 80px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.section-bg {
    background-color: #FBCB7B;
}

h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.1em;
    margin: 0;
    padding-bottom: 44px;
}

p {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
}

.about p {
    margin-bottom: 28px;
}

.about p:last-child {
    margin-bottom: 0px;
}

h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #752A07;
    margin: 25px 0px;
}

.skill .img {
        background-position: center;
}

.skill01 {
   width: 100px;
    height: 100px;
    background-image: url('../images/figma.png')
}

.skill02 {
	width: 100px;
    height: 100px;
    background-image: url('../images/html.png')
}

.skill03 {
	width: 100px;
    height: 100px;
    background-image: url('../images/php.png')
}

.skill04 {
	width: 100px;
    height: 100px;
    background-image: url('../images/ngnix.png')
}

.star {
    width: 25px;
    height: 25px;
    background: url('../images/star.svg');
}

.star-active {
    background: url('../images/black-star.svg');
}

.skills p {
    margin-bottom: 50px;
}

.pf {
    padding-bottom: 10px;
}

.pf h2 {
    padding-bottom: 70px;
}

.case .img {
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
}

.case01 {
    background: url('../images/pf01.jpg')
}

.case02 {
    background: url('../images/pf02.jpg')
}

.case03 {
    background: url('../images/pf03.jpg')
}

.case {
    margin-bottom: 70px;
}

h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    color: #752A07;
    margin-top: 50px;
    margin-bottom: 0px;
}

.contacts {
    flex-direction: column;
    align-items: center;
}

.contacts .row {
    width: 280px;
    margin-bottom: 50px;
}

.contacts h2 {
    padding: 0px;
    margin-bottom: 35px;
}

.btn-message {
    background: orange;
    padding: 13px 35px;
    color: #fff;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 80px;
    margin-top: 35px;
    transition: all 0.5s;
}

.btn-message:hover {
    background-color: #EB5E30;
}

.like {
    color: #000000;
}